<h1>Home</h1>
<p>This is the home page for Youpon.</p>
<table>
	<tr>
		<td><%= link_to "Sign up now!", signup_path, :class => "signup_button round" %></td>
		<td><%= link_to "Sign in", signin_path, :class => "signin_button round" %></td>
	</tr>
</table>