<footer>
		<nav class="round">
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><a href="https://github.com/gprinslow/">Garrison's Github</a></li>
				<li><a href="http://evening-sky-1273.heroku.com/">